@model CreateQuestionnaireVM

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>CreateQuestionnaireVM</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Content" class="control-label"></label>
				<input asp-for="Content" class="form-control" />
				<span asp-validation-for="Content" class="text-danger"></span>
			</div>
			<h2>Options</h2>
			<div class="form-group">
				<table>
					<tr>
						<th>Content</th>
						<th>Is Correct</th>
					</tr>
					@for (int i = 0; i < Model.Options.Count; i++)
					{
						<tr>
							<td>
								@Html.TextBoxFor(t => t.Options[i].Content)
								@Html.ValidationMessageFor(v => v.Options[i].Content, "", new { @class = "text-danger" })
							</td>
							<td>
								@Html.CheckBoxFor(c => c.Options[i].IsCorrect)
							</td>
						</tr>
					}
				</table>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

